argcomplete==1.12.2
bleach==3.2.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.3.1
docutils==0.16
et-xmlfile==1.0.1
idna==2.10
importlib-metadata==3.4.0
jdcal==1.4.1
keyring==21.8.0
msal==1.8.0
numpy==1.19.5
onedrivesdk-fork==1.1.14
openpyxl==3.0.5
packaging==20.8
pandas==1.1.5
pipx==0.15.6.0
pkginfo==1.6.1
pycparser==2.20
Pygments==2.7.4
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
tqdm==4.56.0
twine==3.3.0
typing-extensions==3.7.4.3
urllib3==1.26.2
userpath==1.4.1
webencodings==0.5.1
xlrd==2.0.1
zipp==3.4.0
